<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles_2.css">
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Jung Ja Kyung 포트폴리오 사이트</h1>
 
        <div class="job-title">Web Developer</div>
        <p>스킬</p>
 
        <p>test</p>
 
        <h2>Contact information</h2>
 
        <ul>
            <li>Email: <a href="mailto:newmade01@naver.com">newmade01@naver.com</a></li>
            <li>Web: <a href="http://http://www.jakyungjung.shop/" target="_blank">http://jakyungjung.shop</a></li>
            <li>Tel: 010 6309 1614</li>
        </ul>
    </body>
</html>
